# Copyright (c) 2019 Carlo Caione <ccaione@baylibre.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_RASPI3
	bool "Raspberry Pi 3 Model B+ and QEMU Machine raspi3"
	depends on SOC_BCM2837
	select ARM64
	select QEMU_TARGET
